<div class="px-4 py-3 w-1/2">
  <label for="chat" class="sr-only">Your message</label>
  <div class="flex items-center px-3 py-2 rounded-lg bg-gray-300 dark:bg-gray-700">
    <textarea
      id="chat"
      rows="1"
      [(ngModel)]="query"
      class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Enter SQL query here"
    ></textarea>
    <button
      type="submit"
      (click)="executeQuery()"
      class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600"
    >
      <svg class="w-5 h-5 rotate-90 rtl:-rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
        <path d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"/>
      </svg>
      <span class="sr-only">Send message</span>
    </button>
  </div>
</div>

<ng-template #errorFound>
  <div *ngIf="query_error; else notFound">
    <p class="text-red-500">
      {{ query_error }}
    </p>
  </div>
  <ng-template #notFound>
    <p *ngIf="!isLoading" class="text-red-500">
      No Data Found
    </p>
  </ng-template>
</ng-template>

<div class="element">
  <div class="block max-w-7xl p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <div *ngIf="isLoading" class="relative items-center block max-w-sm p-6 bg-white border border-gray-100 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-800 dark:hover:bg-gray-700">
      <div role="status" class="absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2">
        <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
          <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  
    <div *ngIf="result.length; else errorFound" class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <button class="buttons-csv" type="button" (click)="downloadCSV()">Download CSV</button>
      
      <!-- <div class="flex justify-end ">
      <div class="relative max-w-sm mx-2">
        <input 
        type="search"
        [(ngModel)]="searchQuery" 
        id="search-dropdown" 
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="-- Search --" required
         />
        <button 
        type="submit"
        (click)="search()"
        class="absolute  top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
            <span class="sr-only">Search</span>
        </button>
    </div>
  </div> -->
      <table id="table" class="display" style="width:100%">
        <thead>
          <tr>
            <th *ngFor="let col of columns" scope="col" class="px-6 py-3">{{ col }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of result">
            <td *ngFor="let col of columns" class="w-4 p-4">{{ row[col] }}</td>
          </tr>
        </tbody>
      </table>

      <!-- <div class="flex items-center justify-between mt-4">
        <button (click)="previousPage()" [disabled]="page === 1" class="px-4 py-2 text-sm text-gray-700 bg-gray-300 rounded hover:bg-gray-400">Previous</button>
        <span>Page {{ page }} of {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="page === totalPages" class="px-4 py-2 text-sm text-gray-700 bg-gray-300 rounded hover:bg-gray-400">Next</button>
      </div>
      <div class="mt-2 text-sm text-gray-500">
        Showing {{ currentEntries }} of {{ totalItems }} entries
      </div> -->
    <div class="flex flex-col items-center">
      <!-- Help text -->
      <span class="text-sm text-gray-700 dark:text-gray-400">
          <!-- Showing Page <span class="font-semibold text-gray-900 dark:text-white">{{page}}</span> of <span class="font-semibold text-gray-900 dark:text-white"> {{totalPages}}</span>, Total  <span class="font-semibold text-gray-900 dark:text-white">{{totalItems}}</span> Entries -->
          Showing {{travell}}<span class="font-semibold text-gray-900 dark:text-white">{{currentEntries}}</span> Entries, Total  <span class="font-semibold text-gray-900 dark:text-white">{{totalItems}}</span> Entries
        </span>
      <!-- Buttons -->
      <div class="inline-flex mt-2 mb-2 xs:mt-0">
          <button 
          (click)="previousPage()" [disabled]="page <= 1"
          class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gray-800 rounded-s hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >
              Prev
          </button>
          <button 
          (click)="nextPage()" [disabled]="page >= totalPages"
          class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gray-800 border-0 border-s border-gray-700 rounded-e hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >
              Next
          </button>
      </div>
    </div>
    
    </div>
  </div>
</div>
